{% extends 'accessigames/base.html' %}
        {% load static %}
        {% block content %}
        <h1>{{ heading }}</h1>
        {% block form %}
        <form action="{{ action }}" method="{{ method }}" id="form">
            {% csrf_token %}
                {{ form.as_ul }}<br>
                {% if date %}
                <label for="birth_date">Enter Birth Date:</label>
                    <input type="date" id="birth_date" name="birth_date" value="{{ date_val }}" max="{{ max }}" min="{{ min }}">
                {% endif %}
            <input id="Next" type="submit" name="Next" value="{{ val }}">
        </form>
        {% endblock %}
{% endblock %}